

* {
  box-sizing: border-box;
}


body{
     
     width:400px;
     height:450px;
     background-color:black;
     display:flex;
     justify-content: center;
     text-align: center;
     align-items: flex-end;
    
}   

.sliders{
     background-color: red;
     height: 65px;
     
}


.slider{
      -webkit-appearance:none;
      height: 7px;
      width: 30px%;
      outline: none;
      border-radius: 3px;
     }

.slider1::-webkit-slider-thumb{
     -webkit-appearance:none;
     width: 15px;
     height: 15px;
     background-color: grey;
     cursor:pointer;    
     border-radius: 35%;
     
}