

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
     
     width:400px;
     height:450px;
     background-color: #f3f4f6;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #312e81;
}   

header{
     background-color: #ffffff;
     border-radius: 10px;
     padding: 10px;
     width: 100%;
     text-align: center;
     box-shadow:  4px 4px 4px rgba(0,0,0,0.1);
     margin-bottom: 3px;
}

.charts{  
     background-color: #ffffff;
     height: 240px;
     width:100%;
     border-radius: 10px;
     box-shadow:  4px 4px 4px rgba(0,0,0,0.1);
     padding: 3px;
}

button{
     background-color: #5b21b6;
     color: #ffffff;
     border: none;
     border-radius: 5px;
     font-size: 15px;
       
}


#sample{
     margin: 0;
     font-weight: 600;
}


.buttons{
     display: flex;
     justify-content: space-around;
     margin-top: 4px;
}

.sliders{
     background-color: #9f87c5;
     height:110px;
     width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 5%;
     border-radius: 15px;
     box-shadow:4px 4px 4px rgba(0,0,0,0.1); ;
     
}

#sampleCounter {
     text-align: center;
     font-size: 14px;
     font-weight: 600;
}

button:hover{
     background-color: #6d28d9;
}






.slider-container{
     width:100%;
     text-align: center;
}






.slider{
     -webkit-appearance:none;
     height: 7px;
     width: 30px%;
     border-radius: 3px;
     
}
.slider1::-webkit-slider-thumb{
     -webkit-appearance:none;
     width: 15px;
     height: 15px;
     background-color: grey;
     cursor:pointer;    
     border-radius: 35%;
     
}